.fe-test-app {
  --app__color__field: #66CC66;

  --app__color__excellent: #66CC66;
  --app__color__satisfactorily: #FFE06D;
  --app__color__badly: #FF7360;

  --app__color__blue: #3399FF;
  --app__color__grey: #EDEEEE;

  --app__color__header-background: #091C28;

  --app__color__font-main: #333333;
  --app__color__font-ghost: rgba(#333333, 0.3);
  --app__color__font-grey: #C7C7CD;
  --app__color__background-gray: #F9F9F9;

  --app__color__white: #FFFFFF;

  --app__header__height: 80px;

  --app__view__width: 870px;

  --app__table__row__height: 40px;
}


